<div class="prebuilt-container">
  <h2>Prebuilt Gaming PCs</h2>
  <div>
    <button class="btn btn-dark" [routerLink]="'/addpc'">Prebuilt</button>
  </div>

  <div class="filters">
    <select class="price-filter">
      <option value="">Price Range</option>
      <option value="budget">Budget ($800-$1200)</option>
      <option value="mid">Mid-Range ($1200-$2000)</option>
      <option value="high">High-End ($2000+)</option>
    </select>
  </div>

  <div class="prebuilt-grid">
    <div class="pc-card" *ngFor="let pc of PrebuiltPcs">
      <img
        [src]="pc.imageUrl"
        alt="{{ pc.name }}"
        class="pc-image"
        style="width: 100%; border-radius: 0.5rem;"
      />
      <h3>{{ pc.name }}</h3>
      <div class="specs">
        <p *ngFor="let part of pc.parts">
          <strong>{{ part.categoryName }}</strong>: {{ part.name }}
        </p>
      </div>
      <div class="performance">
        <h4>Gaming Performance</h4>
        <div class="game-fps">
          <span>Cyberpunk 2077 :</span>
          <span class="fps medium">
            {{
              pc.totalPrice > 2000
                ? '90 FPS'
                : pc.totalPrice > 1200
                ? '75 FPS'
                : '60 FPS'
            }}
          </span>
        </div>
        <div class="game-fps">
          <span>Warzone:</span>
          <span class="fps high">
            {{
              pc.totalPrice > 2000
                ? '144+ FPS'
                : pc.totalPrice > 1200
                ? '120 FPS'
                : '100 FPS'
            }}
          </span>
        </div>
      </div>
      <div class="price-action">
        <span class="price">${{ pc.totalPrice }}</span>
        <button class="buy-button">Buy Now</button>
      </div>
    </div>
  </div>
</div>
