<div class="prebuild-container">
  <h2>Create Prebuilt PC</h2>
  <form [formGroup]="prebuildForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" formControlName="name" type="text" placeholder="Enter prebuilt name" />
    </div>

    <ng-container *ngFor="let category of ['cpu', 'gpu', 'motherboard', 'psu', 'ram', 'storage', 'case']">
      <div class="form-group">
        <label [for]="category">{{ category | titlecase }}</label>
        <select [id]="category" [formControlName]="category">
          <option *ngFor="let part of categories[category.toUpperCase()]" [value]="part.id">
            {{ part.name }}
          </option>
        </select>
      </div>
    </ng-container>
    

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" placeholder="Enter a detailed description"></textarea>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input id="imageUrl" formControlName="imageUrl" type="text" placeholder="Enter a valid image URL" />
    </div>

    <button type="submit" >Submit</button>
  </form>

</div>
