<div class="parts-container">
  <h2>PC Parts Catalog</h2>

  <div class="filters">
    <select (change)="onCategoryChange($event)">
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
    </select>

    <input id="searchQuery" type="text" [(ngModel)]="text" class="form-control" placeholder="Search by name ">
  </div>

  <div class="parts-grid">
    <div *ngFor="let part of parts" class="part-card">
      <img *ngIf="part.imageUrl" [src]="part.imageUrl" alt="{{ part.name }}" class="card-img-top" />
 
      <div class="part-details">
        <h3>{{ part.name }}</h3>
        <p>{{ part.description }}</p>
        <span class="price">${{ part.price.toFixed(2) }}</span>
      </div>
    </div>
  </div>
</div>
